.main{
    animation: floating 3s ease-in-out infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    z-index: 10;

    .sign_img{
        position: absolute;
        width: auto;
        top: -4%;
        height: 95%;
    }

    .sign_text{
        height: 52%;
        position: absolute;
        left: 43%;
        top: 8%;
        z-index: 1;
    }

    .sign_light{
        height: 32%;
        position: absolute;
        left: 50%;
        top: -8%;
        z-index: 1;
    }
}

@keyframes floating  {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(-10px); }
    100%{ transform: translateY(0px); }
}