.main{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #FFFCF0 0%, #6CACFF 100%);

    .cloud_1{
        position: absolute;
        filter: opacity(0.7);
    }

    .cloud_1{
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .cloud_2, .cloud_3{
        animation: floating 3s ease-in-out infinite;
        position: absolute;
        z-index: 20;
    }

    .cloud_2{
        width: 30%;
    }

    .cloud_3{
        width: 40%;
    }
}

@keyframes floating  {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(-10px); }
    100%{ transform: translateY(0px); }
}